<div class="car-details">

    <img src="../assets/cars/nissan-march.jpg" alt="nissan-march" class="image" />

    <div class="text-card">
        <div class="text">

            <h3>Totalmente nuevo Nissan March</h3>
            <h1>Solicita Un Crédito Con Nosotros</h1>
            <h4>Cotización Rápida</h4>
            <button pButton icon="pi pi-arrow-right" label="Ver Más" 
            class="p-button-outlined p-button-info"
            [routerLink]="['/catalogo','nissan-march']">
            </button>
        </div>
    </div>
</div>