<header class="shadow">
    <div class="logo">
        <div class="img">
            <img src="../assets/car.png" height="60" class="p-mr-2">
        </div>

        <div class="logo text">
            Venta de Autos
        </div>

    </div>
    <div class="header-txt">
        Venta de Automóviles en el Bajio
    </div>
    <ul class="navigation">
        <li><a [routerLink]="['']"
            >Inicio</a></li>
        <li><a [routerLink]="['/catalogo']"
            >Catálogo</a></li>
    </ul>
</header>